<!DOCTYPE html>
<html lang="en" >
    <head>
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="{{ config.extra.author }}">
      <meta name=description content="{{config.extra.description}}">
      <link rel="stylesheet" href='{{ get_url(path="main.css")}}'>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
      <link id="dark-scheme-icon" rel="shortcut icon" type="image/jpg" href='{{ get_url(path="icons/code-black.ico")}}'>
      <link id="light-scheme-icon" rel="shortcut icon" type="image/jpg" href='{{ get_url(path="icons/code-white.ico")}}'>
      <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id="></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-QK10RKYRF7');
      </script>

    </head>
  <body>
  <nav class="topnav fadeIn" id="topnav" role="navigation" onload=""></nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer id="footer">
    <ul class="icons">
      {% for url in config.extra.footer_links %}
        <li><a href='{{ url.url | safe }}' target="_blank" aria-label='{{url.title}}' class='{{url.css_class}}'><span class="label">{{url.title}}</span></a></li>
      {% endfor %}
    </ul>
    <ul class="copyright">
      <li>Powered by <a href="https://www.getzola.org/" target="_blank">Zola</a></li>
      <li>{{ config.extra.copyright }}</li>
    </ul>
  </footer>

  <script type="text/javascript">
    window.onload= function() {
      var navbar = document.getElementById("topnav");
      {% for url in config.extra.navbar_links %}
      var a = document.createElement('a');
      a.innerText = "{{ url.title | safe}}";
      if (!("{{url.url | safe }}".includes("http") || "{{url.url | safe }}".includes("https"))) {
        if ("{{ url.title | safe }}" === "Home") {
          a.href = "{{ config.base_url | safe }}";
        } else if("{{url.title | safe}}" === "Contact") {
          a.href = "{{ url.url | safe }}"
        } else {
          a.href = "{{ config.base_url | safe }}{{ url.url | safe }}/";
        }
        if ("{{ section.permalink | safe }}" === a.href) {
          a.setAttribute("class", "active");
        }
      } else {
        a.href = "{{ url.url | safe }}";
      }
      if ("{{ url.target | safe }}".length > 0) {
        a.target = "{{ url.target | safe}}";
      }
      navbar.appendChild(a);
      {% endfor %}
      navbar.innerHTML += '<a href="javascript:void(0);" onclick="toggleNav()" class="icon"><i class="fa fa-bars" ></i></a>'
    }

      const lightSchemeIcon = document.getElementById('light-scheme-icon');
      const darkSchemeIcon = document.getElementById('dark-scheme-icon');
      if(window.matchMedia('(prefers-color-scheme: dark)').matches){
        darkSchemeIcon.remove();
        document.head.append(lightSchemeIcon);
      } else {
        lightSchemeIcon.remove();
        document.head.append(darkSchemeIcon);
      }
  </script>
    <script type="text/javascript" src='{{ get_url(path="js/jquery.min.js") }}'></script>
    <script type="text/javascript" src='{{ get_url(path="js/jquery.scrolly.min.js") }}'></script>
    <script type="text/javascript" src='{{ get_url(path="js/browser.min.js") }}'></script>
    <script type="text/javascript" src='{{ get_url(path="js/breakpoints.min.js") }}'></script>
    <script type="text/javascript" src='{{ get_url(path="js/main.js") }}'></script>
    <script type="text/javascript" src='{{ get_url(path="js/util.js") }}'></script>
  </body>
</html>
