
/*
    TODO: Create responsive CSS for sidebar styling, profile picture size, and copyright
*/


/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {...}*/

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
/*@media only screen and (min-width: 1200px) {...}*/

/* CSS Styling */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 75%;
    font-family: 'Sora', sans-serif;
}

.nav-menu li {
    list-style: none;
}

a.nav-link {
    text-decoration: none;
    color: #475569;
}

a.nav-link:active{
    color: white;
    background: rgba(67,76,94, 0.8);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

nav{
    float: right;
    justify-content: flex-end;
    padding: 1rem 1.5rem 1rem 1rem;
    background: rgba(216,222,233,0.8);
    margin: 0 0 1em 0;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
    width: 100%;
}

.nav-item:hover{
    text-decoration: 0.2rem black underline;
    text-underline-offset: 0.6em;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;

}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
        background: rgba(216, 222, 233, 0.95);
    }

    .nav-item {
        margin: 2em;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.hero-image {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero_image.jpg") no-repeat center top;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

footer{
    display: flex;
    color: white;
    margin: 0 auto;
    padding: 0.6em 0.6em 0;
    justify-content: center;
    position: absolute;
    width: 50vw;
    bottom: 0;
    right: 20vw;
    background-color: rgba(46, 52, 64, 0.7);
    border-radius: 1.2em 1.2em 0 0;
}

/*.profile-container{*/
/*    display: inline-block;*/
/*    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));*/
/*    border-radius: 12px;*/
/*    position: absolute;*/
/*    padding: 20px;*/
/*    height: auto;*/
/*    width: 700px;*/
/*    top: 50%;*/
/*    right: 20%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

/*.profile-container img{*/
/*    height: auto;*/
/*    width: 50%;*/
/*    bottom: 60%;*/
/*    right: 60%;*/
/*    transform: translate(-50%, -50%);*/
/*    border-radius: 100%;*/
/*    object-fit: cover;*/
/*    overflow: hidden;*/
/*    border: 2px solid #d8dee9;*/
/*    position: absolute;*/
/*}*/

/*.bio{*/
/*    background: white;*/
/*    border-radius: 12px;*/
/*    font-family: 'Sora', sans-serif;*/
/*    font-size: 30px;*/
/*    margin: 10px;*/
/*    padding: 10px 10px;*/
/*}*/

/*.bio h1{*/
/*    text-align: center;*/
/*}*/

