
/*
    TODO: Create responsive CSS for sidebar styling, profile picture size, and copyright
*/


 /* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {...}*/

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
/*@media only screen and (min-width: 1200px) {...}*/


/* Variables */









/* CSS Styling */


html, body{
    margin: 0;
}

footer{
    font-family: 'Sora', sans-serif;
    background-color: rgba(46, 52, 64, 0.7);
    border-radius: 12px 12px 0 0;
    color: white;
    position: absolute;
    padding: 5px 10px 0;
    font-size: 15px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

nav {
    background-color: rgba(46, 52, 64, 0.8);
    overflow: hidden;
    justify-content: flex-end;
    border-radius: 0 0 12px 12px;
    position: absolute;
    top: 0;
    right: 10px;
}

nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Sora', sans-serif;
}

nav a:hover {
    background-color: #d8dee9;
    color: black;
}

/*nav a.active {*/
/*    text-decoration: underline white;*/
/*    font-weight: bolder;*/
/*    text-underline-offset: 5px;*/
/*    color: white;*/
/*}*/

nav a.active:hover{
    color: black;
    font-weight: bolder;
    text-decoration: underline black;
}

.hero-image {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero_image.jpg") no-repeat center top;
    background-size: cover;
    position: relative;
}

.profile-container{
    display: inline-block;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 12px;
    position: absolute;
    padding: 20px;
    height: 550px;
    width: 700px;
    top: 50%;
    right: 20%;
    transform: translate(-50%, -50%);
}

.profile-container img{
    height: auto;
    width: 50%;
    bottom: 60%;
    right: 60%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid #d8dee9;
    position: absolute;
}

.bio{
    background: white;
    border-radius: 12px;
    font-family: 'Sora', sans-serif;
    font-size: 30px;
    margin: 10px;
    padding: 10px 10px;
}

.bio h1{
    text-align: center;
}

/* Dynamic Changes */

@media only screen and (max-width: 600px){
    footer {
        font-size: 10px;
    }
    nav a{
        font-size: 20px;
        padding: 5px;
    }
}