<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ config.extra.author }}">
  <meta name=description content="Personal website of a web developer using zola static generator website.">
  <link rel="stylesheet" href="{{ get_url(path="site.css") }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
</head>


<body>
    {% block content %}{% endblock %}
</body>
</html>
