{% extends "base.html" %}
{% block title %}
{{ config.extra.author }} - {{ section.title }}
{% endblock title %}
{% block content %}

<style>
    /* Add a background color and some padding around the form */
    .contact_container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>


<section class="main style1 ">
    <header class="major" style="text-align: center">
        {{ section.content | safe}}
    </header>
    <div class="container contact_container">
        <form id="contact-form" class="pageclip-form" onsubmit="return false;" action="https://send.pageclip.co/xsgAwzGUPZLGLFaGYgXtzqLpxkxflZYh/contact-form"   method="POST">
            <label for="name">Full Name</label>
                <input type="text" id="name" name="Name" placeholder="Firstname Lastname" required>

            <label for="email">Email</label>
                <input type="email" id="email" name="Email" placeholder="example@mail.com" required>

            <label for="message">Message</label>
                <textarea id="message" name="Message" style="height:200px" required></textarea>
        </form>
        <label for="honeypot" style="display: none">
            <input type="checkbox" id="honeypot"/> Click here to accept the terms of usage of this contact form.
        </label>
        <button class="g-recaptcha"
                data-sitekey='{{ config.extra.sitekey | safe }}'
                data-callback='onDataCallback'>Submit</button>
    </div>

</section>
<script src="https://www.google.com/recaptcha/api.js?render={{config.extra.sitekey}}"></script>
<script type="text/javascript">

    async function onDataCallback() {
       const hp = document.querySelector('#honeypot');
       if(!hp.checked){
           grecaptcha.ready(function() {
               grecaptcha.execute('{{ config.extra.sitekey}}', {action: 'submit'}).then(async function(token) {
                   try{

                       await fetch('{{ config.extra.validation_server | safe}}', {
                           method: 'POST',
                           cache: 'no-cache',
                           credentials: 'include',
                           headers:{
                               'Content-Type':'application/json'
                           },
                           redirect: 'follow',
                           referrerPolicy: 'no-referrer',
                           body: JSON.stringify({ public_key: '{{ config.extra.sitekey }}', ip: ``, response: token })
                       }).then(async (response) => {
                           response = await response.json()
                           if(response.status === 200 && response['score'] > 0.7){
                               document.forms.item(0).submit();
                           }else if(response.status === 429){
                               alert("You have attempted too many requests. Please try again tomorrow or email me directly. Thank you!");
                           } else if(response['score'] < 0.5){

                           } else {
                               alert("An error occurred while validating the reCAPTCHA data. Please refresh and try again.");
                               location.reload();
                           }
                       })
                   } catch(err){
                       console.log(err);
                   }
               });
           });
       } else {
           console.log("Bad bot.")
           window.location.href="https://google.com"
       }
       return false;
    }

    // document.addEventListener("DOMContentLoaded", async function(){
    //     console.log(await getIP());
    // })

    async function getIP(){
        try {
            return await fetch('https://ipinfo.io/json?token=935f21c830924d', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                cache: 'default',
            }).then(async (response) => {
                return await Promise.resolve(response.json());
            });
            // return Promise.resolve(addr_obj['ip']);
        } catch (error) {
            console.error(error);
        }
    }

    window.onbeforeunload = function(){

        document.forms.item(0).reset()
    }
</script>
{% endblock content %}


