{% extends "base.html" %}

{% block title %}
{{ config.extra.author }} - {{ section.title }}
{% endblock title %}
{% block content %}

<iframe src="{{ config.extra.resume }}" width="100%" height="99%">
    <p>If you're reading this, something broke. Sorry!</p>
</iframe>
<!--<div class="hero-image">-->
<!--    <main>-->
<!--        <div class="profile-container">-->
<!--            <div class="profile-wrap">-->
<!--                <img class="profile-image" src="{{ config.extra.profile_picture}}" alt="Profile picture of Michael Kennedy wearing red sunglasses, a brown hat, and wearing a red flannel."/>-->
<!--                <div class="bio">-->
<!--                    {{ section.content | safe }}-->
<!--                </div>-->

<!--            </div>-->

<!--        </div>-->
<!--    </main>-->
<!--</div>-->
{% endblock content %}