{% extends "base.html" %}
{% block title %}
{{ config.extra.author }} - {{ section.title }}
{% endblock title %}
{% block content %}
	<body class="is-preload">
		<!-- Header -->
			<section id="header">
				<div class="inner">
					<span class="icon solid major fa-cloud"></span>
					<h1>Hi, I'm <strong>Michael</strong> -- a graduate<br />
					of Western Washington University</h1>
					<ul class="actions special">
						<li><a href="#one" class="button scrolly">Discover</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style1">
				<div class="container">
					<div class="row gtr-150">
						<div class="col-6 col-12-medium imp-medium">
							<span class="image fit"><img src="{{config.extra.profile_picture}}" alt="A picture of me wearing red sunglasses and a hat, smiling at the camera." /></span>
						</div>
						<div class="col-6 col-12-medium">
							<p>{{ section.content | safe }}</p>
							<ul class="actions special">
								<li><a href="resume" target="_blank" class="button wide primary">My Resume</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="main style2">
				{% set tech = get_page(path="technologies.md") %}
				<div class="container">
					<div class="row gtr-150">
						<div class="col-6 col-12-medium">
							<ul class="major-icons">
								<li><span class="icon solid style1 major fa-code"></span></li>
								<li><span class="icon solid style2 major fa-bolt"></span></li>
								<li><span class="icon solid style3 major fa-camera-retro"></span></li>
								<li><span class="icon solid style4 major fa-cog"></span></li>
								<li><span class="icon solid style5 major fa-desktop"></span></li>
								<li><span class="icon solid style6 major fa-calendar"></span></li>
							</ul>
						</div>
						<div class="col-6 col-12-medium">
							<header class="major">
								<h2>{{ tech.title }}</h2>
							</header>
							<p>{{ tech.content | safe }}</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="main style1 special">
				<div class="container">
					<header class="major">
						<a href="/projects"><h2>My Projects</h2></a>
					</header>
					<p>While I have worked on a number of projects during my schooling, these are the ones that I am the most proud of.</p>
					<div class="row gtr-150">
						{% set section = get_section(path="projects/_index.md") %}
						{% for path in section.subsections %}
							{% set page = get_section(path=path) %}
							<div class="col-4 col-12-medium">
									<span class="image fit"><img src="" alt="" /></span>
									<h3><strong>{{ page.title }}</strong> - {{ page.extra.tech }}</h3>
									<p>{{ page.description }}</p>
									<ul class="actions special">
										<li><a href= '{{ page.permalink }}' class="button">More</a></li>
									</ul>
							</div>
						{% endfor %}
					</div>
				</div>
			</section>
	</body>
{% endblock content %}