{% extends "index.html" %}
{% block title %}
{{ config.extra.author }} - {{ section.title }}
{% endblock title %}
{% block content %}
{% set section = get_section(path="projects/_index.md") %}
<style>
    #footer{
        margin-top: 25vh;
    }
</style>
<section id="one" class="main style1 special">
    <div class="container">
        <header class="major">
            <h1><strong>My Projects</strong></h1>
        </header>
        <div class="row gtr-150">
           {% for page in section.pages %}
            <script>
                console.log("{{ page.permalink | safe }}")
            </script>
            <div class="col-4 col-12-large">
                <span class="image"><a href="{{page.permalink}}"><img src="/images/{{page.extra.logo}}" class="project_logo" alt="{{ page.extra.alt }}"/></a></span>
                <h2><strong>{{ page.title }}</strong> - {{ page.extra.tech }}</h2>
                <p>{{ page.description }}</p>
                <ul class="actions special">
                    <li><a href="{{page.permalink}}" class="button">More</a></li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}