{% block title %}
{{ config.extra.author }} - {{ page.title }}
{% endblock title %}
{% block content %}
<section class="main style1">
    <div class="container">
        <header class="major">
            <h1 class="project_title"><strong>{{ page.title | safe}}</strong></h1>
            <h3>{{ page.description | safe }}</h3>
            <h4>{{ page.extra.tech | safe }}</h4>
        </header>
    </div>
    <div class="container">
        <content> {{ page.content | safe }} </content>
    </div>
</section>
{% endblock content %}
