{% extends "base.html" %}

{% block title %}
{{ config.extra.author }} - {{ section.title }}
{% endblock title %}
{% block content %}
<style>
    #footer{
        display: none;
    }
    body {
        margin: 0px;
        padding: 0px;
    }

    /* iframe's parent node */
    div#root {
        position: fixed;
        width: 100%;
        height: 100%;
    }

    /* iframe itself */
    div#root > iframe {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
    }
</style>

<div id="root">
    <iframe src="{{ config.extra.resume }}">
        <p>
            If you're seeing this, your browser does not support inline frames.
        </p>

    </iframe>
</div>
{% endblock content %}