{% extends 'base.html' %}

{% block title %}
{{ config.title }} | {{ section.title }}
{% endblock title %}

{% block content %}
<section class="section article-list">
  <div class="container" style="padding-top: 1em;">
    <header class="project-page-header major">
      <h1 class="title">{{ section.title }}</h1>
      <p class="subtitle">{{ section.description }}</p>
    </header>
    <div class="content">
      {{ section.content | safe }}
    </div>
    <div class="columns">
      <div class="column is-9">
        {% if paginator %}
        {% set pages = paginator.pages %}
        {% else %}
        {% set pages = section.pages %}
        {% endif %}
        {% for page in pages %}
        <article class="box-list">
          <h2 class="title">
            <div>
              {% if page.extra.repo %}
              <a class="project-title-container" href='{{ page.permalink }}'>
                <img src='/images/{{ page.extra.logo }}' class="project-logo" alt="{{ page.extra.alt }}"/>
                <h3 class="project-title">
                  {{ page.title }}
                  <p class="tech">{{ page.extra.tech }}</p>
                </h3>
              </a>
              {% endif %}
            </div>
          </h2>
          <p class="subtitle">{{ page.description }}</p>
          <div class="column">
            <div class="page-metadata">
              {{ macros::page_publish_metadata(page=page) }}
            </div>
          </div>
          <div class="page-metadata">
            {{ page.summary | safe }}
            <a href='{{ page.permalink }}'>
              Read More
              <span class="icon">
                <i class="fas fa-arrow-right fa-xs"></i>
              </span>
            </a>
          </div>
          <div class="columns">
            <div class="column">
              {% if page.taxonomies.categories %}
              {{ macros::render_categories(categories=page.taxonomies.categories) }}
              {% endif %}
            </div>
            <div class="column has-text-right-desktop">
              {% if page.taxonomies.tags %}
              {{ macros::render_tags(tags=page.taxonomies.tags) }}
              {% endif %}
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
